<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css.css"></link>
</head>
<body>
    <h1>Welcome to the DBMS Library System. Login or register in order to browse and loan books!</h1>

    <p>Please choose an option:</p>

    <div class="button-group">
        <a href="/login">
            <button>Login</button>
        </a>
        <a href="/register">
            <button>Register</button>
        </a>
    </div>
</body>
</html>