<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loan Page</title>
    <link rel="stylesheet" href="/css.css"></link>
</head>
<body>
    <h1>Loan Page</h1>
    <p>Logged in user: {{userId}}</p>
</body>
</html>
